@charset "utf-8";
* {margin: 0px;padding: 0px;}


body {
background-color: #000000;
}


img{
width:100%;
}






.logo {
    width: 300px;
    height: 100px;
    background-image: url(picture/PolitikenLogo_Gradient-01.svg);
    background-size: auto;
    position: absolute;
    background-repeat: no-repeat center center;

    top: 0px;
    left: 50%;
    margin-left: -150px;
    z-index: 1;
}

/*
.navbar{
opacity: 0.5;
}
*/



.videocontainer{
    top: 100px;
    position: relative;
margin-left: -15px;
margin-right: -15px;}


#endcredits{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);

}


#endcreditsbutton{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

#annotation{
    text-align: center;
    background-color: yellow;
    width: 100%;
    color: green;
}



.boks1 {
    height: 2px;
    background-color:#ffffff;
   top: 0;
    z-index: 1;
    opacity: 0.2;
}


.boks2 {
    height: 100px;
    background-color:#000000;
    top: 0;
    opacity: 0.3;
}


.boks3 {
    width: 310px;
    height: 75px;
    top: 130 px;
    border: 1px solid #ffffff;
    left: 50%;
    position: absolute;
    margin-left: -155px;
    margin-top: 20px;



}


h4{
color: #ffffff;
}

h6{
color: #ffffff;
text-align: center;
margin-top: 90px;
margin-bottom: -70px;
}



.socialmedia{
margin-top: 25px;
background: url('') no-repeat center top;
    background-size: auto;
    height: 35px;
    margin-bottom: 30px;
}

.facebook{
    background-image: url(picture/iconFacebook-inverse-01.svg);
    margin-top: 70px;
}
.instagram{
    background-image: url(picture/iconInstagram-inverse-01.svg);
    margin-top: 70px;
}


